<h1><%= @my_project.name%></h1>
<ul>
	<% @my_entries.each do |entry| %>
	<li>
		<%= entry.hours %> h
		<%= entry.minutes%> m -
		<%= entry.date %>
		<p> <%= entry.comment %></p>
	
		<a href="/projects/<%= @my_project.id %>/time_entries/<%= entry.id%>/edit">
		edit
		</a>
	</li>

	<% end -%>

</ul>

<a href="
">Add time entry to  <%= @my_project.name %></a>